/* Estilos para todos los documentos */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
}

.cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.cabecera img {
    width: 250px;
    height: auto;
}

.login,
.login form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.barra-navegacion {
    padding: 20px;
    background-color: #e98d8d;
}
    
.barra-navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.barra-navegacion ul li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

.barra-navegacion ul li a:hover {
  background-color: #efafaf;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #c0dada;
    margin-top: auto;
}

.enlaces-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button,
.boton-enlace {
    background-color: #8d8de9;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.tarjeta {
    border: 3px solid #d0d0e1;
    border-radius: 12px;
    width: 32%;
}

.tarjeta header {
    background-color: #d0d0e1;
    color: black;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

h2 {
    font-weight: bold;
}

/* Estilos para la sección de Inicio */
.pagina-principal {
    background-color: #e8e8fa;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bienvenida img {
    width: 90%;
    height: auto;
    border: 2px;
    border-radius: 8px;
}

.buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.buscador form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos para la sección de Contacto */

.datos-contacto  {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.datos-contacto  ul {
    background-color: #fafae8;
}


.datos-contacto  ul > li:first-child {
    background: #62a3a3;
    color: white;
}

/* Estilos para la sección de Viajes */

@media  (max-width: 760px){
    .cards-viajes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} 

/* Estilos para la sección Sobre nuestra agencia */

.tarjeta ul {
    list-style-type: none;
}

/* Estilos para la sección Sugerencias */
.formulario-sugerencia,
.formulario-sugerencia form {
    display: flex;
    justify-content: center;
}

.formulario-sugerencia fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 3px solid #d0d0e1;
    border-radius: 12px;
    padding: 15px;
    margin: 15px;
    text-align: left;
}

.formulario-sugerencia input, 
.formulario-sugerencia select, 
.formulario-sugerencia textarea {
    width: 100%; 
    box-sizing: border-box; /* Importante para que el padding no los ensanche más del 100% */
    padding: 10px;
}
/* Estilos para la sección de Ofertas */


/* Estilos para la sección de Viajes en Grupo */

@media (max-width: 760px) {
    .viajes-grupo-main {
        padding: 12px;
    }

    .viaje-grupo-card img {
        height: 200px;
    }
}




